* {
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
}

body {
    color: white;
    background: #000511;
    font-family: 'Roboto', Vazirmatn, Arial, Helvetica, sans-serif !important;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.483);
    text-align: center;
    gap: .1 !important;
    transition: .5s ease-in-out;
}

.card:hover {
    background: #ffffff52;
}

.card h4 {
    font-weight: bold;
    font-size: 1.8rem;
}

.card p {
    font-weight: 100;
}